{% extends "base.jinja" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aviso.css') }}">
{% endblock css %}
{% block title %}
Aviso {{ aviso_id }}
{% endblock title %}
{% block content %}
<div id="caja-info">
    <div id="caja-texto">
        <div class="bloque">
            <h3>ID Aviso</h3>
            <p id="aviso_id">{{aviso_id}}</p>
        </div>
        <div class="bloque">
            <h3>Fecha publicación</h3>
            <p>{{fecha_ingreso}}</p>
        </div>

        <div class="bloque">
            <h3>Fecha entrega</h3>
            <p>{{fecha_entrega}}</p>
        </div>
        <div class="bloque">
            <h3>Comuna</h3>
            <p>{{comuna}}</p>
        </div>
        <div class="bloque">
            <h3>Región</h3>
            <p>{{region}}</p>
        </div>
        <div class="bloque">
            <h3>Sector</h3>
            <p>{{sector}}</p>
        </div>
        <div class="bloque">
            <h3>Cantidad</h3>
            <p>{{cantidad}}</p>
        </div>
        <div class="bloque">
            <h3>Tipo</h3>
            <p>{{tipo}}</p>
        </div>
        <div class="bloque">
            <h3>Edad</h3>
            <p>{{edad}}</p>
        </div>
        <div class="bloque">
            <h3>Nombre contacto</h3>
            <p>{{nombre}}</p>
        </div>
        <div class="bloque">
            <h3>Email</h3>
            <p>{{email}}</p>
        </div>
        {% if telefono %}
            <div class="bloque">
                <h3>Teléfono</h3>
                <p>{{telefono}}</p>
            </div>
        {% endif %}
        {% if contactos %}
            {% for contacto in contactos %}
                <div class="bloque">
                    <h3>{{contacto.nombre.name}}</h3>
                    <p>{{contacto.identificador}}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% if desc %}
            <div class="bloque">
                <h3>Descripcion</h3>
                <p>{{desc}}</p>
            </div>
        {% endif %}
    </div>
    <div id="caja-fotos">
        {% for foto in fotos %}
            <img src="{{ url_for('static', filename=foto) }}" alt="" class="imagen">
        {% endfor %}
    </div>
    <div id="añadir-comentario">
        <h1>Añadir comentario</h1>
        <h3 hidden id="err"></h3>
        <form id="formComentario" name="formComentario" action="javascript:void(0);">
            <input type="text" minlength="3" maxlength="80" id="nombre" name="nombre" placeholder="Introduce tu nombre">
            <textarea id="comentario" name="comentario" rows="4" cols="50" placeholder="Comentario" minlength="5"></textarea>
            <button id="agregar">Agregar comentario</button>
        </form>
    </div>
    <div id="caja-comentarios">
        <h1>Comentarios</h1>
        <h3 hidden id="err-com"></h3>
    </div>
</div>
<div id="links">
    <a href="/">Portada</a>
    <a href="/aviso">Agregar Aviso</a>
    <a href="/listado">Lista avisos</a>
    <a href="/estadisticas">Estadísticas</a>
</div>
{% endblock content %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/fotos.js') }}"></script>
<script src="{{ url_for('static', filename='js/comentario.js') }}"></script>
{% endblock javascript %}